{% extends "base.html" %}
{% block title %}Créditos de la página{% endblock %}
{% block body %}
<div>
    <h1>Créditos</h1>
    <p>Esta página de búsqueda fue realizada para la materia de desarrollo de sistemas IV por:
    </p>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://i.pinimg.com/564x/45/6e/b6/456eb6f4a13674e057e3835ab9ba68a1.jpg" class="img-fluid rounded-start" alt="Imagen BTS V chibi">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Estudiante de la UNISON</h5>
              <p class="card-text">- Nombre: Adriana Leon Camacho</p>
              <p class="card-text">- Expediente: 219201651</p>
              <p class="card-text">- Materia: Desarrollo de Sistemas IV</p>
              <p class="card-text">- Correo: a219201651@unison.mx</p>
           </div>
          </div>
        </div>
      </div>
    <p>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://i.pinimg.com/564x/b0/56/16/b05616ee37cbcbfe2e7c065e498b788b.jpg" class="img-fluid rounded-start" alt="Imagen BTS V chibi">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Estudiante de la UNISON</h5>
              <p class="card-text">- Nombre: Luz Elena Rodriguez Martinez</p>
              <p class="card-text">- Expediente: 221210577</p>
              <p class="card-text">- Materia: Desarrollo de Sistemas IV</p>
              <p class="card-text">- Correo: a221210577@unison.mx</p>
           </div>
          </div>
        </div>
      </div>
      
</div>
{% endblock %}